*{
    margin: 0px;
}

.container{
    /* position: relative; */
    background-color: pink;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}
.calme{
    position:absolute;
    background-color: aqua;
    background-color: black;
    border: 2px solid;
    display: flex;
    flex-direction: column;
   align-items: center;
   padding-bottom: 15px;
   margin: 20px;
   border-radius: 20px;
}

h1{
    color: aliceblue;
    padding: 20px;
    font-size: 24px;
}

input{
    height: 30px;
    width: 260px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 8px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: column;

}

.row button{
    margin: 5px;
    padding: 10px 15px;
    font-size: 22px;
    /* border-radius: 5px; */
    width: 60px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: black;
    
    font-weight: 700;
}

.round button
{
    border-radius: 40%;
    background-color: rgb(255, 238, 0);
    font-size: 25px;
    font-weight: 700;
    color: black;
}

 @media only screen and (max-width: 400px) {
    
    /* .calme{
        background-color: aqua;
        width: 60vw;
        
    } */

    .row button{
        margin: 2px;
        padding: 3px 5px;
        font-size: 12px;
        border-radius: 2px;
        width: 40px;
        height: 30px;
    
    }
    
    .round button
    {
        
        font-size: 15px;
      
    }
    h1{
       
        font-size: 15px;
    }
    
    input{
        height: 15px;
        width: 170px;
        border: 2px solid;
    }
    
}
